.eth-icon {
  @apply flex items-center justify-center;

  &::before {
    content: "";

    @apply block h-[24px] w-[16px];

    background: url("../../assets/icons/icon-ethereum.svg") no-repeat left;
  }
}

.clock-icon {
  @apply flex items-center justify-center;

  &::before {
    content: "";

    @apply block h-[24px] w-[24px];

    background: url("../../assets/icons/icon-clock.svg") no-repeat left;
  }
}

.nft-hover {
  background: url("../../assets/images/image-equilibrium.jpg") no-repeat center;
  background-size: cover;

  @apply relative h-[19rem] w-full cursor-pointer overflow-hidden shadow;

  &::before {
    content: "";

    @apply absolute top-0 bottom-0 left-0 right-0 bg-cyan opacity-0 transition-all duration-500 ease-in-out;
  }

  &::after {
    content: "";

    @apply absolute top-0 bottom-0 left-0 right-0 rotate-180 scale-75 bg-cyan opacity-0 transition-all duration-300 ease-in-out;

    background: url("../../assets/icons/icon-view.svg") no-repeat center;
  }

  &:hover {
    &::before {
      content: "";

      @apply bg-cyan opacity-50;
    }

    &::after {
      content: "";

      @apply rotate-0 scale-100 opacity-100;
    }
  }
}

.text-hover {
  @apply cursor-pointer transition-all duration-300 ease-in-out;

  &:hover {
    @apply text-cyan drop-shadow-xl;
  }
}
